#blog_body {
    background-color:rgb(245, 245, 245);
}

.header-right {
    float:right;
}

.header{
    overflow:hidden;
    padding: 20px 10px;
}

hr {
  border: 1px solid rgb(32, 31, 31);
}

.header a {
    float: left;
    color: rgb(32, 31, 31);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
}

.header p #main_header_title{
    font-size: 25px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

article #article_title{
    font-weight:bold;
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
}

article #article_date{
    font-weight:italic;
    font-size:10px;
    color:grey;
    font-family:'Times New Roman', Times, serif;
}

section dt{
    font-weight:bold;
}